.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.item-details .card-body {
  padding-top: 0;
}

.item-details .item-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
  background-color: #282828;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}